@import "../../mixin.scss";

.login-page {
  @include basic-page;
  @include center;
  form {
    @include center;
    flex-direction: column;
    width: 90%;
    .email,
    .password,
    .login {
      width: 100%;
      border: none;
      margin: 2% 0;
      border-radius: 5px;
      height: 75.2px;
    }
    .email .password {
      font-size: 25px;
      padding-left: 10px;
    }
    .login {
      font-size: 50px;
      width: 100%;
    }
    label {
      align-self: flex-start;
      font-size: 20px;
    }
  }
}
