@import "./mixin.scss";

body {
    @include basic-page;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        text-align: center;
        border-bottom: 1px solid black;
        width: 75%;
    }

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(3, 3, 3, 0.75),
            rgba(0, 0, 0, 0)
        );
    }

    input {
        border: none;
        padding: 2.5vw;
        border-radius: 5px;
        width: 75%;
        margin: 3vw;
    }

    input:focus {
        outline: black solid 1px;
    }

    .star {
        margin: 3vw;
    }

    button {
        border: none;
        background-color: rgb(36, 36, 36);
        color: white;
        padding: 5vw;
        border-radius: 5vw;
        margin-top: 5vw;
        width: 75%;
        cursor: pointer;
    }

    .help {
        margin: 0;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
