@import "./mixin.scss";

body {

    .login_wrapper {
        display: flex;
        height: 100%;
        max-width: 500px;
        margin: auto;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
    }

    .previous {
        padding: 1rem;
        text-align: left;
        width: 80%;
    }

    @include basic-page;
    margin: 0;
    padding: 0;
    font-family:inter;

    .logo_wrapper {
        display: flex;
        align-content: center;
        background-color: white;
        padding: 1rem;
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        justify-content: center;

        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        position: relative;

        img {
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            height: 6rem;
            margin-top: 0;
        }
    }

    form {
        @include center;
        flex-direction: column;
        width: 80%;
        gap: 1rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 1rem;
        border-radius: 0.4rem;

        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2rem);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);

        .inputbox {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }

        .email,
        .password,
        .login {
            margin: 2% 0;
            border-radius: 0.4rem;
            border: 1px solid #b3742d;
            padding: 1em;
        }

        input:focus {
            outline: 0.2rem solid rgb(121, 121, 121);
            outline-offset: 0.5rem;
        }

        .email .password {
            font-size: 25px;
            padding-left: 10px;
        }

        button {
            margin: 10px;
            font-size: 20px;
            width: 100%;
            padding: 0.5em;
            transition: 0.5s;
            border: 2px solid orange;
            background-color: white;
            box-shadow: 4px 4px 0 orange;
            border-radius: 0.4rem;
            outline: 0;
            outline-offset: 0;

        }

        button:hover {
            background-color: rgb(161, 68, 5);
            transition: 0.5s;
            border: 2px solid orange;
            color: white;
        }

        button:active {
            outline: 2px solid black;
            outline-offset: 5px;
            transition:
                0.3s;
        }

        label {
            align-self: flex-start;
            font-size: 20px;
            font-weight: bolder;
            font-family: inter;
            border-bottom: 0.2rem solid rgb(126, 75, 0);
            padding-bottom: 0.2rem;
        }
    }

}