@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin basic-page {
    background-color: #ffc288;
    background-image: linear-gradient(0deg, #fa9b42, rgb(255, 207, 117));
    width: 100%;
    min-height: 100vh;
    font-family: inter;
    margin: 0;
    padding: 0;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}