.nav-bar {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    z-index:10;
    background-color:#FFC288DE;

    img {
        width: 100%;
    }

    input[type="checkbox"]{
        display:none;
    }

    input[type="checkbox"]:checked + label{
        filter:invert(100%);
    }
}
