@import "./mixin.scss";

body {
    @include basic-page;
    @include center;
    position: relative;
    flex-direction: column;
    .login-home,
    .register-home {
        border: none;
        background-color: white;
        margin: 2% 0;
        font-size: 50px;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
    }
    a {
        text-decoration: none;
        color: black;
        width: 90%;
    }
    .logo-brand {
        position: absolute;
        width: 230px;
        top: 0;
    }
    .nav-bar {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 0;
    }
    img {
        width: 25%;
    }
}
